.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    /* background: rgb(27, 26, 26); */
    background: linear-gradient(to bottom, rgb(56, 56, 56), rgba(24, 23, 23, 0));
    align-self: center;
    border-radius: 7px;
    padding: 1.5rem;
    transition: all .5s;
    color: white;
}

.card:hover {
    border: .1px solid white;
}

.card .title {
    text-wrap: wrap;
    font-size: large;
    font-weight: 500;
}

.card .description {
    text-wrap: wrap;
    font-size: small;
    font-weight: 400;
}

/* Responsive */

@media (width < 901px) {
    .card .title {
        font-size: medium;
    }

    .card .description {
        font-size: x-small;
    }
}

@media (width < 550px) {
    .card .title {
        font-size: smaller;
    }

    .card .description {
        font-size: .5rem;
    }
}