::placeholder {
    text-align: left;
    color: white;
}

hr {
    width: 100%;
    background: white;
    height: 1px;
}

.signUpContainer {
    min-height: 90dvh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, black, rgb(53, 53, 53));
}

.signUpContainer form {
    min-height: 80dvh;
    min-width: 30dvw;
    max-width: max-content;
    border-radius: 10px;
    border-top: 3px solid rgb(0, 119, 255);
    padding: 30px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    background: linear-gradient(to right, black 98.7%, rgb(0, 106, 245) 1.3%);
}

.signUpContainer form h1 {
    color: rgb(0, 132, 255);
    font-weight: 400;
}

.signUpContainer form h4 {
    color: rgb(35, 101, 245);
    font-weight: 400;
}

.signUpContainer form .inputStream {
    min-height: max-content;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
}

.signUpContainer form .inputStream input {
    font-family: 'system-ui';
    border: none;
    border-bottom: .5px solid white;
    background: none;
    min-height: 6dvh;
    min-width: 17dvw;
    color: white;
    /* border-radius: 7px; */
    padding-left: 10px;
}

.signUpContainer form .inputStream button[type="submit"] {
    color: rgb(255, 255, 255);
    background: rgb(0, 17, 255);
    max-width: 6dvw;
    min-height: 5dvh;
    font-weight: 300;
}

.signUpContainer form .inputStream button[type="submit"]:hover {
    letter-spacing: 1.5px;
}